body{
    font-family: 'Yellowtail', cursive;
}
h1{
    font-size: 80 px;
}
h3{
    font-size: 50px;
}
div.left>p{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}
div.left>p:hover{
    background-color: rgb(247, 228, 228);
}
#my{
    color: rgb(161, 130, 91);
}
.left{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.left img{
    position:relative;
    left: 20px;
    top: 20px;
    width: 100%;
}